body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    font-weight: 400px;
}
section{display: block;}
li{
    list-style-type: none;
    display: inline-block;
    font-size: 1em;
    padding: 10px;
    font-weight: bold;
}
#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    box-shadow: 00 2px 0 rgb(0 0 0 / 40%)
    
}
#welcome-section{
    align-items:center;
    margin-top: 200px;
}
#section-1{
    color: red;
}
#projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}